[Unit]
Description=Node App
After=cloud-final.service

[Service]
WorkingDirectory=/tmp/webservice-main
ExecStart=/usr/bin/node /tmp/webservice-main/server.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-app
User=ec2-user

[Install]
WantedBy=multi-user.target
WantedBy=cloud-init.target